div {
  width: 100px;
  height: 100px;
  background-color: #7f8383;
  border: 2px solid black;
  margin: 10px;
  display: inline-block;
}

#middle {
  background-color: #1b8a7b;
}

#static #middle {
  position: static;
  top: 100px;
}

#relative #middle {
  position: relative;
  top: 50px;
  left: 50px;
}
#absolute #middle {
  position: absolute;
  top: 50px;
  left: 50px;
}

#absolute {
  position: relative;
}

#fixed #middle {
  position: fixed;
  top: 500px;
  left: 500px;
}
